
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
